.App {
  text-align: center;
}

#root {
  height: 100%;
}

.search-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mediumaquamarine;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


header {
  background-color: greenyellow;
  height: 175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

input {
  height: 30px;
  font-size: 15px;
  text-align: center;
}

img {
  width: 200px;
  align-content: center;
}

.poke-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-item {
  margin: 15px;
  border: solid 2px #252323ff;
  background-color: turquoise;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
}

.left-header {
  display: flex;
  flex-direction: column;
}

.right-header {
  display: flex;
  flex-direction: column;
}

select {
  width: 65px;
  height: 20px;
}

.poke-name {
  text-transform: capitalize;
}
/*
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 300px;
  list-style: none;
  background-color: turquoise;
  */
